#home {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  position: relative; /* This is needed for the background */
  z-index: 1;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Puts background behind the content */

  /* Simple path to the image in the 'public/images' folder */
  background-image: url('../../../public/Images/background.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* This makes the background stay fixed while scrolling */
  background-attachment: fixed;
}